@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: Inter;
}

body{   
    background: #000000;
    color: #fdfdfd;
}

.default-button{
    background-color: #000000;
    color: #fdfdfd;
    padding: 10px 20px;
    border: 1px solid #292929;
    border-radius: 50px;
    cursor: pointer;
}

.default-header{
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-weight: 900;
    color: #b2b2b2;
}

.default-para{
    font-size: .7rem;
    font-weight: 300;
    color: #b7b5b5;
}

.section-header{
    font-size: 1.3rem;
    margin-bottom: 15px;
    font-weight: 600;
}

.section-para{
    font-size: .7rem;
    margin-bottom: 15px;
}

/* header start */


header{
    background-image: linear-gradient(to bottom, #000000,#1c1c1c,#000000);
}

/* nav */
#header-with-hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 100px;
}

#header-nav{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#header-nav h2{
    width: 50%;
    font-style: italic;
    color: orangered;
}

#header-nav h2{
    width: 50%;
    font-size: 2rem;
    font-weight: 800;
}

#header-nav nav{
    padding: 2px;
    border: 1px solid #292929;
    border-radius: 50px;
}

#header-nav nav>ul{
    list-style-type: none;
}

#header-nav nav>ul li{
    display: inline;
    margin-right: 20px;
}

#header-nav nav>ul li a{
    display: inline-block;
    text-decoration: none;
    color: #fdfdfd;
    padding: 3px 10px;
    border-radius: 50px;
    font-size: .8rem;
    transition: background .4s ease-in-out;
}

#header-nav nav>ul li a:hover{
    background: orangered;
    transition: background .4s ease-in-out;
}

#header-nav nav>ul li:last-child{
    margin-right: 0;
}

.active{
    background: #E6533C;
}

#hamburger-menu{
    width: 20px;    
}
/* nav end */

/* banner start */

#hero{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#hero>div{
    width: 50%;
}

#hero-text>div:first-child{
    padding-right: 90px;
}

#hero-text h3{
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

#hero-text span{
    font-family: Dancing Script;
}

#hero-text p{
    margin-top: 20px;
    line-height: 1.5;
    font-size: .8rem;
    color: #b7b5b5;
    font-weight: 300;
}

#hero-buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 25px;
}

#hero-buttons button{
    width: 50%;
    margin-right: 10px;
}

#hero-banner{
    position: relative;
    display: flex;
    justify-content: center;
}

#workout-count,#tutorial-count{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border: 1px solid #303030;
    border-radius: 15px;
    padding: 15px 20px;
    background: #1c1b1b9e;
    backdrop-filter: blur(.2rem);
}

#workout-count{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 10%;
    left: 12%;
}

#tutorial-count{
    top: 20%;
    left: 55%;
}

#hero-banner div h3{
    font-size: 1.4rem;
    font-weight: 900;
    color: #b2b2b2;
}

#hero-banner div p{
    font-size: .7rem;
    font-weight: 300;
    color: #b7b5b5;
}

#video-icon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50px;
    background: #E6533C;
}

/* banner end */

/* header end */

/* main section */

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}

main>section{
    width: 70%;
     margin: 0 auto;
}

/* end main section  */

/* habit section */

#habit-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#habit-header{
    width: 50%;
    margin: 15px auto 50px;
    text-align: center;
}

#habit-header h3{
    font-size: 1.8rem;
    margin-bottom: 15px;
}

#habit-header p{
    font-size: .7rem;
}

#habit-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    justify-content: center;
}

#habit-content>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#habit-content>div>img{
    width: 60%;
    height: auto;
    border: 2px solid #292929;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

#habit-content>div>img:hover{    
    border: 2px solid #c50000;
    transition: all .3rgb(180, 0, 0)in-out;
}

#habit-content>div h4{
    font-size: .8rem;
    margin: 10px;
    text-align: center;
}

#habit-content>div p{
    font-size: .7rem;    
    text-align: center;
}

/* end habit section */

/* extra run section */

#extra-run{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 60px auto;
    padding: 35px;
    background: #1a1a1a;
    border-radius: 15px;
}

#extra-run>div div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#extra-run div:first-child h3{
    font-size: 2.5rem;
    line-height: 1.2;
}

#extra-run div:first-child p{
    width: 70%;
    margin: 25px 0;
    text-align: left;
    font-size: .7rem;
    line-height: 2;
    color: #b2b2b2;
}

#extra-run div:nth-child(2){
    width: 250px;
    height: 250px;
    border-radius: 20px;
    background: url(../images/run.jpg) no-repeat center;
    background-position: 67% 28%;
}

/* end extra run section */

/* training section */


#training>div{
    position: relative;
    width: 100%;
    height: 200px;
}

#training>div>img{
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}

#training>div:nth-child(2){
    grid-area: fst-box;
}

#training>div:nth-child(4){
    grid-area: snd-box;
}

#training>div:nth-child(6){
    grid-area: last-box;
}

#training{
    display: grid;
    grid-template-areas: 
    ' . fst-box fst-box fst-box fst-box . '
    'snd-box snd-box snd-box . last-box last-box '
    ;
}

#training>div>p{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: .7rem;
    color: #ffffff;
}

#training>div>div{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    object-fit: cover;
    opacity: .5;
}

#training>div:nth-child(1)>div{
    background: #40b2c6;
}
#training>div:nth-child(2)>div{
    background: #a59018;
}
#training>div:nth-child(3)>div{
    background: #309641;
}
#training>div:nth-child(4)>div{
    background: #4d40c6;
}
#training>div:nth-child(5)>div{
    background: #b840c6;
}
#training>div:nth-child(6)>div{
    background: #c64040;
}

/* end training section */

/* bmi calculator */

#calculator{
    width: 100%;
    background: #292929;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bmihead{
    width: 50%;
    margin: 20px 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#calculatordiv{
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#calculatordiv>div:first-child{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#calculatordiv>div:nth-child(2){
    width: 60%;
}

#calculatordiv>div:first-child h4{
    font-size: 1.2rem;
}

#calculatordiv table{
    border-collapse: collapse;
}

#calculatordiv th,#calculatordiv td{
    border: 1px solid #303030;
    font-size: .8rem;
    padding: 10px;
    text-align: start;
    width: 100px !important;
}

#calculatordiv td{
    font-size: .6rem;
}

#factor{
    grid-area: factor;}

#bmiForm{
    margin-top: 20px;
    display: grid;
    grid-template-areas: ' . . ' ' . . ' ' factor factor ' ' . . ';
    gap: 10px;
}

#calculatordiv input{
    border-radius: 5px;
    background: #4a4949;
    border: none;
    padding: 10px 15px;
    font-size: .7rem;
    color: #d7d4d4;
    outline: none;
}

#calculatordiv select{
    border-radius: 5px;
    background: #4a4949;
    border: none;
    padding: 10px 15px;
    font-size: .7rem;
    color: #d7d4d4;
    outline: none;
}

#calculatordiv option{
    border: none;
    padding: 10px;
    color: #d7d4d4;
}


/* end bmi calculator */

/* team */

#team>div:first-child{
    width: 60%;
    margin: 100px 20% 50px;
}

#team>div:first-child h3, #team>div:first-child p{
    text-align: center;
}

#team>div:nth-child(2){
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    background: #111;
    border-radius: 25px;
}

#team>div:nth-child(2)>div{
    position: relative;
    display: flex;
    flex-direction: column;
}

#team>div:nth-child(2)>div>div{
    position: absolute;
    left: 20px;
    bottom: 20px;
}

#team>div:nth-child(2)>div>div h4{
    font-size: .8rem;
    text-align: left;
}

#team>div:nth-child(2)>div>div p{
    font-size: .6rem;
    margin-top: 5px;
    text-align: left;
    opacity: .75;
}

#team>div:nth-child(2) img{
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 15px;
    transition: all .3s ease-in-out;
}

#team>div:nth-child(2) img:hover{    
    filter: hue-rotate(247deg);
    transition: all .3s ease-in-out;
}

/* end team */

/* pricing */

#pricing{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pricingdiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

#pricingdiv>div{
    width: 32%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
    border: 1px solid #303030;
    background: #111;
    border-radius: 3px;
}

#pricingdiv>div>h3{
    font-size: 1rem;
    text-align: center;
    border-bottom: 1px solid #6e6e6e;
    padding-bottom: 5px;
}

#pricingdiv>div>button{
    width: 90%;
}

.pricedetails{
    width: 100%;
}

.pricedetails>p{
    font-size: .7rem;
    padding: 8px 15px;
    border-bottom: 1px solid #4a4a4a;
}

.pricedetails>p:first-child{
    border-top: 1px solid #4a4a4a;
}

/* end pricing */

/* footer */

footer{
    width: 100%;
    background: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer>section{
    width: 70%;
}

footer hr{
    width: 70%;
    margin: 20px;
    border: none;
    border-top: .5px solid #4a4a4a;
}

footer section:first-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 40px 0;
}

#footer-header{
    width: 60%;
}

#footer-header>h2{
    font-size: 1.8rem;
    font-style: italic;
    color: orangered;
}

#footer-header>p{
    font-size: .7rem;
    width: 60%;
    color: #aaa;
    margin-top: 20px;
    line-height: 1.8;
}

.footer-link{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

.footer-link h4{
    margin-bottom: 15px;
    font-size: 1.8rem;
}

.footer-link ul{
    list-style-type: none;
}

.footer-link ul li{
    font-size: .8rem;
    margin-bottom: 15px;
    color: #999999;
}

.footer-link ul li:last-child{
    margin-bottom: 0;
}

#copyright{
    text-align: center;
    font-size: .9rem;
    color: #999999;
    margin-bottom: 15px;
}

/* end footer */

/* media query */

@media screen and (min-width:993px){
    #hamburger-menu{
        display: none;
    }
}

@media screen and (min-width:576px) and (max-width:992px){

    #header-with-hero-section{
        padding:15px;
    }

    #header-nav{
        justify-content: space-around;
    }

    #header-nav h2{
        width: auto;
        font-size: 1.5rem;
    }

    #header-nav nav>ul li a{
        font-size: .7rem;
        padding: 3px 7px;
    }

    #hamburger-menu{
        display: none;
    }

    #hero{
        flex-direction: column;
    }
    
    #hero>div{
        width: 90%;
        margin: 0 auto;
    }

    #hero-text h3{
        font-size: 2.5rem;
    }

    #habit-content{
        grid-template-columns: repeat(2,1fr);
    }
    
    #habit-header{
        width: 75%;
        height: auto;
    }

    #extra-run div:first-child h3{
        font-size: 1.8rem;
    }

    #extra-run div:nth-child(2) {
        width: 100%;
        background-size: 400%;
    }

    #calculatordiv{
        width: 94%;
    }

    #calculatordiv>div:first-child{
        width: 50%;
    }

    #calculatordiv>div:nth-child(2){
        width: 50%;
    }

    footer section:first-child {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-link{
        width: 100%;
        justify-content: space-between;
    }

}

@media screen and (max-width:576px){

    main>section {
        width: 90%;
    }

    #header-with-hero-section{
        padding:15px;
    }

    #header-nav{
        justify-content: space-between;
    }

    #header-nav nav{
        display: none;
    }

    #header-nav h2{
        width: auto;
        font-size: 1.5rem;
    }

    #hamburger-menu{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #hero{
        flex-direction: column;
    }
    
    #hero>div{
        width: 90%;
        margin: 0 auto;
    }

    #hero-text h3{
        font-size: 1.5rem;
    }

    #habit-content{
        grid-template-columns: repeat(1,1fr);
    }
    
    #habit-header{
        width: 90%;
        height: auto;
    }
    
    #habit-header h3{
        font-size: 1.2rem;
    }

    #habit-header p{
        font-size: .7rem;
    }

    #extra-run{
        flex-direction: column;
    }

    #extra-run div{
        width: 95%;
        margin-bottom: 15px;
    }

    #extra-run div:first-child button{
        width: 100%;
    }

    #extra-run div:nth-child(2){
        width: 95%;
        margin-top: 25px;
        background-size: 200%;
    }
    #bmihead{
        width: 90%;
    }

    #training{
        grid-template-columns: repeat(2,1fr);
    }

    #calculatordiv{
        width: 90%;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    #calculatordiv>div:first-child{
        width: 100%;
    }

    #calculatordiv>div:nth-child(2){
        width: 100%;
    }

    #team>div:nth-child(2){
        grid-template-columns: repeat(1,1fr);
    }

    #pricingdiv{
        flex-direction: column;
    }

    #pricingdiv>div{
        width: 90%;
        margin: 0 auto;
    }

    #pricingdiv>div>button{
        width: 50%;
    }

    #footer-header{
        width: 90%;
    }

    #footer-header>p {
        width: 90%;
    }

    footer section:first-child {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-link{
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }

    .footer-link>div{
        width: 100%;
    }

}